<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>servletUsuario</servlet-name>
        <servlet-class>servlet.servletUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet</servlet-name>
        <servlet-class>servlet.servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sservlet</servlet-name>
        <servlet-class>sservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sesion</servlet-name>
        <servlet-class>sesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cerrar</servlet-name>
        <servlet-class>cerrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>alta</servlet-name>
        <servlet-class>alta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>alta2</servlet-name>
        <servlet-class>alta2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>alta3</servlet-name>
        <servlet-class>alta3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>consulta</servlet-name>
        <servlet-class>consulta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>coda</servlet-name>
        <servlet-class>coda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>codco</servlet-name>
        <servlet-class>codco</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cambio1</servlet-name>
        <servlet-class>cambio1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>camper</servlet-name>
        <servlet-class>camper</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pedf</servlet-name>
        <servlet-class>pedf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pedf2</servlet-name>
        <servlet-class>pedf2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>camperu</servlet-name>
        <servlet-class>camperu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uplodad</servlet-name>
        <servlet-class>uplodad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>recupera</servlet-name>
        <servlet-class>recupera</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>word</servlet-name>
        <servlet-class>word</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlets</servlet-name>
        <servlet-class>servlets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>quejas</servlet-name>
        <servlet-class>quejas</servlet-class>
    </servlet>
   
    <servlet-mapping>
        <servlet-name>servletUsuario</servlet-name>
        <url-pattern>/servletUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet</servlet-name>
        <url-pattern>/servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>camperu</servlet-name>
        <url-pattern>/camperu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sservlet</servlet-name>
        <url-pattern>/sservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sesion</servlet-name>
        <url-pattern>/sesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cerrar</servlet-name>
        <url-pattern>/cerrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>alta</servlet-name>
        <url-pattern>/alta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>alta2</servlet-name>
        <url-pattern>/alta2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>alta3</servlet-name>
        <url-pattern>/alta3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>consulta</servlet-name>
        <url-pattern>/consulta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>coda</servlet-name>
        <url-pattern>/coda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>codco</servlet-name>
        <url-pattern>/codco</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cambio1</servlet-name>
        <url-pattern>/cambio1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>camper</servlet-name>
        <url-pattern>/camper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pedf</servlet-name>
        <url-pattern>/pedf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pedf2</servlet-name>
        <url-pattern>/pedf2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uplodad</servlet-name>
        <url-pattern>/uplodad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>recupera</servlet-name>
        <url-pattern>/recupera</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>word</servlet-name>
        <url-pattern>/word</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlets</servlet-name>
        <url-pattern>/servlets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>quejas</servlet-name>
        <url-pattern>/quejas</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
